<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<nav>
    <div class="lang-menu" >
        <a href="/eng/">
            <span>English</span>
        </a>
        <a href="/">
            <span>Korean</span>
        </a>
    </div>
</nav>

<div class="container">
    <div class="profile">
        <div class="profile_container">
            <div class="profile_profileImg">
                <img src="/images/myphoto.jpg" alt="WooSeok Pic">
            </div>
            <div>
                <h1 class="profile_name">
                    <span class="profile_name_firstName">김석ㅋ</span>
                    <span class="profile_name_lastName">Justin</span>
                </h1>
                <p class="profile_title">백엔드 웹 개발자</p>
                <p class="description profile_description">
                    자바, SpringBoot, JPA 를 주력으로 하는 신입 백엔드 개발자입니다.<br>
                    문제를 만나고 그것을 해결하는 과정과, 해결했을 때의 성취감을 즐기는 사람입니다.
                </p>
                <a class="downloadBtn" href="/pdf/WonJoon_Resume_Kor.pdf" download="WonJoon_Resume_Kor.pdf">이력서 다운로드</a>
                <a class="downloadBtn" href = "https://juniper-detail-f9c.notion.site/5704e6f28b7a453d8255aec9f707648c"> 포트폴리오 </a>
            </div>
        </div>
    </div>
    <div class="group-1">
        <div class="skills">
            <h3 class="title">Expertise</h3>
            <ul class="skills_list description">
                <li>자바</li>
                <li>SpringBoot</li>
                <li>JPA</li>
                <li>C</li>
            </ul>
        </div>
        <div class="exp">
            <h3 class="title">Experience</h3>
            <div class="exp_item">
                <p class="item_preTitle">2021 - 2022</p>
                <h4 class="item_title">한국건설엔지니어링협회</h4>
                <p class="item_subtitle">기획경영실 근무</p>
                <p class=" description">
                    국토부 산하 건설엔지니어링협회 기획경영실에서 근무했습니다. 신입 및 경력 직원 채용 과정을 담당했으며,
                    직원복지를 위해 다양한 동아리 활동을 활성화시켰습니다. 근무 기간 내 협회 명칭이 변경됨에 따라 총회 개최,
                    행정처리 등 일련의 과정을 담당하였습니다.
                </p>
            </div>
            <div class="exp_item">
                <p class="item_preTitle">2019 - 2019</p>
                <h4 class="item_title">(주)세정</h4>
                <p class="item_subtitle">인턴</p>
                <p class="description">
                    세정 그룹의 상품기획 MD 직군으로 인턴 생활을 했습니다. 당시 기간별 판매량 분석 및 시장 조사를 통해 다음
                    시즌에 대한 사업 계획 수립에 일조했습니다.
                </p>
            </div>
        </div>

        <div class="certification">
            <h3 class="title">certification</h3>
            <div class="certification_item">
                <p class="item_preTitle">2021</p>
                <h4 class="item_title">토익 960</h4>
                <p class="description">
                    전반적인 영어 능력을 평가하는 시험
                </p>
            </div>
            <div class="certification_item">
                <p class="item_preTitle">2021</p>
                <h4 class="item_title">토익 스피킹 lv7(170)</h4>
                <p class="description">
                    직장 및 일상에서의 영어 말하기 능력을 평가하는 시험
                </p>
            </div>
            <div class="certification_item">
                <p class="item_preTitle">2020</p>
                <h4 class="item_title">컴퓨터 활용능력 1급</h4>
                <p class="description">
                    업무에 필요한 컴퓨터 활용 능력의 전반을 평가하는 시험
                </p>
            </div>
            <div class="certification_item">
                <p class="item_preTitle">2020</p>
                <h4 class="item_title">한국사능력검정 1급</h4>
                <p class="description">
                    한국 역사에 대한 지식을 평가하는 시험
                </p>
            </div>
        </div>
    </div>
    <div class="group-2">

        <div class="ref">
            <h3 class="title">Project & What I did</h3>
            <div class="ref_item">
                <div class="ref_title">
                    <h4 class="ref_name">MEDIMATCH 프로젝트</h4>
                </div>
                <ul class="project_description">
                    <li>병의원을 대상으로 한 채용절차 관리 서비스 개발</li>
                    <li>서비스에 만족한 참여기업이 외주를 요청</li>
                </ul>

            </div>
            <div class="ref_item">
                <div class="ref_title">
                    <h4 class="ref_name">CARD MONKEY 프로젝트</h4>
                </div>
                <ul class="project_description">
                    <li>관심사 기반 카드 상품 추천 및 신청 서비스 구현</li>
                </ul>

            </div>
            <div class="ref_item">
                <div class="ref_title">
                    <h4 class="ref_name">AES보안 알고리즘 구현</h4>
                </div>
                <ul class="project_description">
                <li>미국 표준문서를 바탕으로 한 AES 알고리즘 구현</li>
                </ul>
            </div>
        </div>
        <div class="edu">
            <h3 class="title">Education</h3>
            <div class="edu_item">
                <p class="item_preTitle">2014 - 2020</p>
                <h4 class="item_title">국민 대학교, 서울, 대한민국</h4>
                <p class="item_subtitle">
                    수학과(정보보안암호수학과) 졸업 (4.17 / 4.5)
                </p>
            </div>
            <div class="edu_item">
                <p class="item_preTitle">2018 - 2018</p>
                <h4 class="item_title">Temple University, 필라델피아, 미국</h4>
                <p class="item_subtitle">
                    Temple 대학 하계 어학연수 프로그램 이수
                </p>
            </div>
            <div class="edu_item">
                <p class="item_preTitle">2008 - 2010</p>
                <h4 class="item_title">명덕외국어고등학교, 서울, 대한민국</h4>
                <p class="item_subtitle">
                </p>
            </div>
        </div>
        <div class="awards">
            <h3 class="title">Extra Curricular Activities</h3>
            <div class="awards_item">
                <p class="item_preTitle">2022 - 2023</p>
                <h4 class="item_title">패스트캠퍼스 - 백엔드 개발자 양성과정</h4>
                <p class="description">
                    자바, 깃허브, 스프링부트 등 웹 개발에 필요한 요소들을 배우며 프로젝트를 함께 진행한 경험이 있습니다. 과정 내
                    그룹스터디를 구성하여 CS 주제를 정해 팀원들과 TechTalk을 진행했습니다. 알고리즘 스터디도 구성하여, 알고리즘
                    주제별로 문제를 선정해서 풀고 코드리뷰를 진행하고 있습니다. Front-End 개발자들과의 협업을 통해 금융상품(카드)
                    추천 서비스 CARDMONKEY를 개발했습니다. 또한, 기업, UX/UI, Front-End, Back-End 팀이 협업하여 일련의
                    채용 절차를 관리하는 MEDIMATCH 서비스를 개발했습니다.
                </p>
            </div>
            <div class="awards_item">
                <p class="item_preTitle">2018 - 2019</p>
                <h4 class="item_title">서울시 동행 프로젝트</h4>
                <p class="item_subtitle">00중학교,00고등학교 교육봉사 활동</p>
                <p class="description">
                    중,고등학생들을 대상으로 60시간 이상의 교육봉사를 했습니다. 재능기부를 통해 사회에 기여할 수 있다는
                    것이 굉장히 기쁘고 뿌듯했습니다.
                </p>
            </div>
            <div class="awards_item">
                <p class="item_preTitle">2017 - 2018</p>
                <h4 class="item_title">현대 H-jump School </h4>
                <p class="item_subtitle">지역 아동센터 교육봉사 활동</p>
                <p class=" description">
                    지역 아동센터에 꾸준히 방문하여 218시간의 봉사활동을 진행했습니다. 다문화 가정 및 저소득 계층 자녀를
                    대상으로 방과 후 수업을 진행했습니다. 학생들이 잘 따라주었고, 그들의 긍정적인 변화를 이끌어 낼 수 있었던
                    소중한 경험이었습니다.
                </p>
            </div>
            <div class="awards_item">
                <p class="item_preTitle">2017 - 2018</p>
                <h4 class="item_title">KT&G 상상유니브</h4>
                <p class="item_subtitle">노래 및 연극 동아리</p>
                <p class="description">
                    다양한 학교의 대학생들이 모여 기획부터 공연까지 직접 해보는 활동을 했습니다. 정말 다양한 사람들을 만났고,
                    서로 배려하며 협업하는 방법을 배울 수 있었습니다.
                </p>
            </div>
        </div>

        <div class="interest">
            <h3 class="title">Interest</h3>
            <div class="interest_items">
                <div class="interest_item">
                    <i data-feather="trending-up"></i>
                    <span>Climbing</span>
                </div>
                <div class="interest_item">
                    <i data-feather="circle"></i>
                    <span>Bowling</span>
                </div>
                <div class="interest_item">
                    <i data-feather="life-buoy"></i>
                    <span>Soccer</span>
                </div>
                <div class="interest_item">
                    <i data-feather="music"></i>
                    <span>Music</span>
                </div>
                <div class="interest_item">
                    <i data-feather="film"></i>
                    <span>Movie</span>
                </div>

            </div>

        </div>
    </div>
    <hr>
    <div class="group-3">
        <div class="contact">
            <h3 class="title">Contact</h3>
            <div class="contact_info">
                <p class="description">
                    Seoul, South Korea
                </p>
                <p class="description">
                    +82 10 9585 3100
                </p>
                <p class="description">
                    kws1111049@gmail.com
                </p>
            </div>
        </div>
        <div class="social">
            <h3 class="title">Socials</h3>
            <div class="social_items">
                <a href="https://github.com/flimberkim" target="_b" class="social_item">
                    <i data-feather="github"></i>
                    <span>/flimberkim</span>
                </a>
                <a href="https://www.wanted.co.kr/profile/matching?level=3" target="_blank" class="social_item">
                    <i data-feather="edit"></i>
                    <span>/WooSeokKim</span>
                </a>
                <a href="https://www.instagram.com/flimber_seok/" target="_blank" class="social_item">
                    <i data-feather="instagram"></i>
                    <span>/flimber_seok</span>
                </a>
                <a href="https://flimberkim.tistory.com/" target="_blank" class="social_item">
                    <i data-feather="bold"></i>
                    <span>/flimberkim.tistory</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    feather.replace()
</script>
</body>

</html>